[submodule "archlive/airootfs/etc/skel/.oh-my-zsh"]
	path = archlive/airootfs/etc/skel/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "jovarkos-backgrounds"]
	path = jovarkos-backgrounds
	url = https://github.com/JovarkOS/jovarkos-backgrounds
